*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   }
   
   
   .container{
   border: 2px solid red;
   display: grid;
   }
   
   .box{
   
       border: 2px solid green;
       padding: 12px;
   }
   
   .main{
       width: 100px;
       height: 100vh;
       display: flex;
       text-align: center;
   }
   
   .menu{
       width:20;
       background-color: turquoise;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
   }
   
   #menubar{
       font-size: 30px;
       color:blueviolet;
       padding: 10px;
       
   
   }
   
   a{
       margin-top: 10px;
       text-decoration: none;
       color:#fff;
       font-size: 38px;
       letter-spacing: 2px;
       display: list-item;
       padding: 20px;
       border-top: 1px solid black;
       border-bottom: 1px solid black;
       background-color:rgb(131, 63, 63);
   }
   
   
   
   a:hover {
       cursor: pointer;
       transition: 0.5s;
       text-transform: uppercase;
       
   }
   
   
   .content{
       margin: auto;
       position: relative;
       left: 40vw;
       
   }
   
   
   
   p{
       margin-top: 200;
       text-align: center;
       font-size: 50px;
   
   }
   
   
   
   
   footer{
   text-align: center;
   font-size: 50px;
   border: 2px solid black;
   background-color: chocolate;
   }
   
   
   
   /* header{
       text-align: center;
       font-size: 50px;
       border: 2px solid black;
       } */
   
   
   
       
      body{
       background-color:rgb(158, 50, 50);
      }
   
   
      @media(min-width:400px) and (max-width:600px){
       body{
       background-color:green;
           }
      }
   
   
      /* @media screen and (max-width:1024px) {
   
       .menu{
           width:20;
           background-color: lightslategrey;
           display: flex;
           flex-direction: row;
           // justify-content: space-evenly; 
       }
       
      } */