body{
    background-image: url(bgi.jpg);
    background-size: auto ;
}

h3{
    text-align: center;
    font-size: 50px;
}




#form{
    margin-left: 600px;
    width: 600px;
    height: 600px;

    border: 2px solid black;
    padding: 25px 25px 25px 25px;
    
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-size: 28px;
}
   
    button:hover {
        cursor: pointer;
        background-color: cornflowerblue;
        color: brown;
    
    }
   

    input{
        margin-left: 12px;
        margin-top: 12px;
        font-size: 28px;

        
    }
button{
   
    background-color: #008CBA; 
    color: white;
    padding: 8px 15px; 
    border:black;
    cursor: pointer;

    margin: 0 auto; 
    border-radius: 8px;
    font-size: 20px;
    


}